.App {
  text-align: center;
}

/* TodoList.css */

/* Add a border to the to-do list container */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
  border: 2px solid #333; /* Add border styles */
  border-radius: 10px; /* Add rounded corners */
  margin-top: 50px;
}

/* Other styles remain the same */

h1 {
  color: #333;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #000000;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #209b67;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0;
  background-color: #f9f9f9;
}

button.delete-button {
  background-color: #ff3030;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.delete-button:hover {
  background-color: #7e0000;
}
button.edit-button {
  background-color: #1bb023;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.edit-button:hover {
  background-color: #124d00;
}
/* Add margin between the buttons */
ul li div button {
  margin-right: 10px; /* Adjust the margin as needed */
}
